---
title: Han Lab Members
layout: default
group: members
---

{% for member in site.members %}

{% unless member.enddate == empty or member.startdate.size != member.enddate.size %}
{% continue %}
{% endunless %}

      <hr>
      <div style="display: flex; align-items: flex-start;">
         <img src="{{member.image}}" alt="{{member.name}}" style="width: 200px; height: auto; margin-right: 200px;">
            <div>
               <p style="font-size: 30px; color: black"><strong>{{member.name}}</strong></p>
               <p>{{member.position}}<br>
                  E-mail: {{member.email}}<br>
                  {% if member.links %}
                     {% for link in member.links %}
                        <a href="{{link.url}}" alt="{{link.name}} (opens in new tab)" target="_blank">{{link.name}}</a>
                     {% endfor %}
                  {% endif %}
               </p>
            </div>
      </div>
{% endfor %}
