---
title: Publications of Han Lab
layout: default
group: publication
---

<h1>Publications</h1>


{% assign sorted = site.publication | sort: "pub_date" | reverse %}
{% for paper in sorted %}

<hr>
<strong>{{ paper.title }}</strong><br>
{{ paper.authors }}<br>
{% if paper.journal %}
	<i>{{ paper.journal }},</i>
	{{paper.pub_date | split: "-" | first }}
	
{% endif %}

<br>
{% if paper.links %}

    {% for link in paper.links %}

        <li><a href="{{link.URL}}" alt="{{link.name}} (opens in new tab)" target="_blank">{{link.name}}</a></li>

    {% endfor %}

{% endif %}

{% endfor %}
<br>

</div>
